In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA


df = pd.DataFrame({
    "taille": [160, 162, 165, 167, 170, 172, 175, 177, 180, 182,
               160, 162, 165, 167, 170, 172, 175, 177, 180, 182],
    "poids":  [55, 57, 60, 62, 65, 67, 70, 72, 75, 77,
               54, 56, 59, 61, 64, 66, 69, 71, 74, 76],
    "IMC":    [21.5, 21.7, 22.0, 22.2, 22.5, 22.7, 23.0, 23.2, 23.5, 23.7,
               21.3, 21.5, 21.8, 22.0, 22.3, 22.5, 22.8, 23.0, 23.3, 23.5],
    "age":    [22, 24, 26, 28, 30, 32, 34, 36, 38, 40,
               23, 25, 27, 29, 31, 33, 35, 37, 39, 41],
    "revenu": [1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600, 1650,
               1210, 1260, 1310, 1360, 1410, 1460, 1510, 1560, 1610, 1660]
})

df

    taille  poids   IMC  age  revenu
0      160     55  21.5   22    1200
1      162     57  21.7   24    1250
2      165     60  22.0   26    1300
3      167     62  22.2   28    1350
4      170     65  22.5   30    1400
5      172     67  22.7   32    1450
6      175     70  23.0   34    1500
7      177     72  23.2   36    1550
8      180     75  23.5   38    1600
9      182     77  23.7   40    1650
10     160     54  21.3   23    1210
11     162     56  21.5   25    1260
12     165     59  21.8   27    1310
13     167     61  22.0   29    1360
14     170     64  22.3   31    1410
15     172     66  22.5   33    1460
16     175     69  22.8   35    1510
17     177     71  23.0   37    1560
18     180     74  23.3   39    1610
19     182     76  23.5   41    1660

In [ ]:
# Standarisation du tabableau
scaler = StandardScaler()
df_scalered = scaler.fit_transform(df)
df_scalered

array([[-1.54030809, -1.46670362, -1.38675049, -1.64750894, -1.6005447 ],
       [-1.26025208, -1.1873315 , -1.10940039, -1.30066495, -1.2526002 ],
       [-0.84016805, -0.76827333, -0.69337525, -0.95382097, -0.9046557 ],
       [-0.56011203, -0.48890121, -0.41602515, -0.60697698, -0.5567112 ],
       [-0.14002801, -0.06984303,  0.        , -0.26013299, -0.2087667 ],
       [ 0.14002801,  0.20952909,  0.2773501 ,  0.086711  ,  0.1391778 ],
       [ 0.56011203,  0.62858727,  0.69337525,  0.43355498,  0.4871223 ],
       [ 0.84016805,  0.90795938,  0.97072534,  0.78039897,  0.8350668 ],
       [ 1.26025208,  1.32701756,  1.38675049,  1.12724296,  1.1830113 ],
       [ 1.54030809,  1.60638968,  1.66410059,  1.47408695,  1.5309558 ],
       [-1.54030809, -1.60638968, -1.66410059, -1.47408695, -1.5309558 ],
       [-1.26025208, -1.32701756, -1.38675049, -1.12724296, -1.1830113 ],
       [-0.84016805, -0.90795938, -0.97072534, -0.78039897, -0.8350668 ],
       [-0.56011203, -0.62858727, -0.69337525, -0.43355498, -0.4871223 ],
       [-0.14002801, -0.20952909, -0.2773501 , -0.086711  , -0.1391778 ],
       [ 0.14002801,  0.06984303,  0.        ,  0.26013299,  0.2087667 ],
       [ 0.56011203,  0.48890121,  0.41602515,  0.60697698,  0.5567112 ],
       [ 0.84016805,  0.76827333,  0.69337525,  0.95382097,  0.9046557 ],
       [ 1.26025208,  1.1873315 ,  1.10940039,  1.30066495,  1.2526002 ],
       [ 1.54030809,  1.46670362,  1.38675049,  1.64750894,  1.6005447 ]])

In [ ]:
# Application du pca 
pca = PCA()
X_pca = pca.fit_transform(df_scalered)

array([[-3.41767374e+00,  2.05463321e-01,  1.28664090e-02,
         7.02758470e-16,  3.97610974e-17],
       [-2.73275283e+00,  1.43724545e-01, -3.00407615e-02,
        -1.14866113e-16, -5.81324072e-17],
       [-1.86068065e+00,  2.06654609e-01,  1.52727626e-02,
        -9.05425812e-17, -1.01490481e-17],
       [-1.17575974e+00,  1.44915833e-01, -2.76344079e-02,
        -6.19334367e-17,  1.06766485e-17],
       [-3.03687557e-01,  2.07845896e-01,  1.76791161e-02,
        -2.47566535e-17, -6.76244798e-17],
       [ 3.81233355e-01,  1.46107120e-01, -2.52280544e-02,
        -1.55696613e-17, -4.48798122e-18],
       [ 1.25330553e+00,  2.09037184e-01,  2.00854697e-02,
        -2.23671691e-17, -6.00019030e-17],
       [ 1.93822645e+00,  1.47298408e-01, -2.28217008e-02,
         8.06337077e-17,  3.37680236e-17],
       [ 2.81029863e+00,  2.10228471e-01,  2.24918232e-02,
        -3.92289476e-17,  2.23259394e-17],
       [ 3.49521954e+00,  1.48489695e-01, -2.04153473e-02,
         6.07531061e-17, -2.99017574e-18],
       [-3.49521954e+00, -1.48489695e-01,  2.04153473e-02,
        -6.07531061e-17,  2.99017574e-18],
       [-2.81029863e+00, -2.10228471e-01, -2.24918232e-02,
         3.92289476e-17, -2.23259394e-17],
       [-1.93822645e+00, -1.47298408e-01,  2.28217008e-02,
        -8.06337077e-17, -3.37680236e-17],
       [-1.25330553e+00, -2.09037184e-01, -2.00854697e-02,
         2.23671691e-17,  6.00019030e-17],
       [-3.81233355e-01, -1.46107120e-01,  2.52280544e-02,
        -9.72345999e-18, -4.86093263e-17],
       [ 3.03687557e-01, -2.07845896e-01, -1.76791161e-02,
         5.98932161e-17,  4.20541423e-18],
       [ 1.17575974e+00, -1.44915833e-01,  2.76344079e-02,
         7.16978775e-17, -9.81559572e-17],
       [ 1.86068065e+00, -2.06654609e-01, -1.52727626e-02,
         1.16626462e-16,  4.05492926e-17],
       [ 2.73275283e+00, -1.43724545e-01,  3.00407615e-02,
         2.84299994e-17,  1.56377239e-16],
       [ 3.41767374e+00, -2.05463321e-01, -1.28664090e-02,
         2.87747324e-16, -1.58119064e-16]])